<ion-side-menus>

	<ion-pane ion-side-menu-content>
 

 <ion-nav-bar class="bar bar-balanced">
    <ion-nav-back-button class="button-clear">
      <i></i> Back
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
</ion-nav-bar>

  
 
       
   <ion-nav-view name="mainContent" navigation="slide-left-right"></ion-nav-view>

	</ion-pane>


  
  	<ion-side-menu side="left">
  		<header class="bar bar-header bar-balanced">
  			<h1 class="title">Elisa Schendule aqui</h1>
  		</header>
  		<ion-content class="has-header">
  			<ion-list>
  			  <ion-item nav-clear menu-close ui-sref="home.leagues">Home</ion-item>
          <ion-item nav-clear menu-close ui-sref="app.teams">Teams</ion-item>
          <ion-item nav-clear menu-close ui-sref="app.standings">Standings</ion-item>
          <ion-item nav-clear menu-close ui-sref="app.locations">Locations</ion-item>
          <ion-item nav-clear menu-close ui-sref="app.rules">Rules</ion-item>
  			</ion-list>
  	</ion-side-menu>

  
</ion-side-menus>  